#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## DynCore Documentation
## https://docs.DynCore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, DynCore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_1rTSdgRGkWJbZMkQE4ZfV_46o7yR"
sv_hostname "Dynamic Roleplay"
sets sv_projectName "Dynamic Roleplay | Join us at Discord.gg/DynamicRP"
sets sv_projectDesc "An a FiveM RP framework designed to best fit your roleplay experiances"
sets locale "en-US"
load_server_icon myLogo.png
sets banner_detail "https://media.discordapp.net/attachments/1246097610327199816/1246723186947784815/ServerBanner1865x108.png?ex=665d6cf2&is=665c1b72&hm=a24b5bf7b83a2c5788080b1274b5f2ecfa525fcc2af6138e4ca5f934b8f6ff1d&=&quality=lossless"
sets banner_connecting "https://media.discordapp.net/attachments/1246097610327199816/1246724023820488755/ServerBannerLoading.png?ex=665d6dba&is=665c1c3a&hm=e769d54b05777965f9f85b75f0738e442d4a0800f15af1bc082cffec07e82750&=&quality=lossless"
set sv_enforceGameBuild 2944
set mysql_connection_string "mysql://root@localhost/dynamicrp?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# DynCore locale config
setr qb_locale "en"

# DynFW UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# DynFW & Extra stuff
ensure dyn-core
ensure ox_lib
ensure [dyncore]
ensure [dynextra]
ensure [dynui]
ensure [dynspawn]
ensure [standalone]
ensure [voice]
ensure [dynclothes]
ensure [dynmaps]
ensure [dyncars]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:8846237 group.admin #DanDiablosTV
add_principal identifier.discord:608284540317728786 group.admin #DanDiablosTV
add_principal identifier.fivem:8846237 DynCore.god #DanDiablosTV
# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace DynCore.god command allow # Allow all commands

# Inheritance
add_principal DynCore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal DynCore.god DynCore.admin # Allow gods access to admin commands
add_principal DynCore.admin DynCore.mod # Allow admins access to mod commands
